
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
}

body {
  background-color: black;
  height: 100vh;
  overflow-y: hidden;
}

main {
  display: flex;
  width: 100vw;
  gap: 10px;
  height: 90vh;
}

aside {
  background-color: black;
  color: white;
  width: 20%;
  height: 89.4vh;
}

.header {
  background-color: rgb(18, 18, 18);
  margin: 10px;
  width: 100%;
  border-radius: 10px;
  height: 16.5%;
  overflow: hidden;

}

.header p{
  cursor: pointer;
  padding: 5px;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 600;
}

.header p svg{
  padding-right: 5px;
}

.header h2 {
  cursor: pointer;
  padding: 8px;
  margin-left: 8px;
  font-size: 22px;

}

.playlist {
  background-color: rgb(18, 18, 18);
  margin: 10px;
  width: 100%;
  height: 81.2%;
  border-radius: 10px;
  overflow-y: hidden;
}

.playlist p {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.playlist p svg{
  padding-right: 5px;
}

.Home {
  background-color: rgb(18, 18, 18);
  height: 98.28%;
  width: 78%;
  margin: 10px;
  border-radius: 8px;
  overflow-y: scroll;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #353535;
}

.left {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
}

.left div,
.right div {
  background-color: rgb(14, 14, 14);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left div:hover,
.right div:hover {
  background-color: rgba(255, 255, 255, 0.418);
  color: black;
}

.right {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.right div:hover {
  background-color: rgba(255, 255, 255, 0.421);
  color: black;
}

.right p {
  background-color: rgb(14, 14, 14);
  height: 10px;
  font-size: 12px;
  border-radius: 22px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right p:hover {
  background-color: white;
  color: black;
}

.types {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.types div {
  background-color: rgba(255, 255, 255, 0.079);
  padding: 7px;
  border-radius: 22px;
  font-size: 12px;
  cursor: pointer;

}

.types div:hover{
  background-color: rgba(255, 255, 255, 0.273);
}

.playlists {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.playlists div {
  width: 300px;
  display: flex;
  align-items: center;
  font-size: 14px;

  background-color: rgba(255, 255, 255, 0.116);
}

.playlists img {
  height: 50px;
  margin-right: 10px;
}

.lists {
  height: 92%;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 92%;
}

.lists div {
  width: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.lists div:hover {
  background-color: rgba(112, 112, 112, 0.16);
  
}

.lists li img{
  height: 40px;
  fill: white;
}

.lists div p{
  font-size: 15px;
   color: #ffffffd7;
}
.lists div p:hover{
  color: rgb(255, 255, 255);
}

.musics h1 {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
}

.card {
  padding: 6px;
  margin: 10px;
  border-radius: 5px;
  width: 155px;
  height: 200px;

}

.card:hover {
  background-color: rgba(110, 109, 109, 0.249);
  font-size: 50px;
}

.card h5 {
  font-size: 15px;
  padding: 3px;
}

.card p {
  font-size: 10px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.525);
  padding: 3px;
}

.card img {
  width: 100%;
  border-radius: 8px;
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.musiccards {
  display: flex;
  flex-wrap: wrap;
}

.discover {
  margin: 10px;
}

.seemore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.seemore div {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.026);
  border-radius: 22px;
  font-size: smaller;
  margin: 10px;
  cursor: pointer;
}

.seemore div:hover {
  background-color: rgb(58, 58, 58);
}

i {
  padding: 5px;
}

svg {
  width: 18px;
 
  margin-bottom: -3px;
  fill: white;
}

.player{
  width: 99vw;
  
  background-color: rgb(0, 0, 0);
  margin: 2px 10px 0px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-song{
  font-size: 15px; 
  width: 285px;
  
  font-weight: 400;
  color: rgb(255, 255, 255);
  display: flex;
}

.current-song div{
  width: 90%;
  padding: 2px;
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  height: 70px;
}

.current-song img {
  height: 50px;
  margin-right: 10px;
}

.current-song div p{
  font-size: 15px;
   color: #ffffffd7;
}

.current-song div svg{
  padding-left: 5px;
  fill: green;
}

.controls img{
   cursor: pointer;
}

.bar{
  height: 3px;
  width: 400px;
  background-color: aliceblue;
}

.progress-bar{
  display: flex;
  align-items: center;
  gap: 5px;
}
.progress-bar > p{
   font-size: 12px;
   font-weight: 600;
   color: rgb(77, 77, 77);
}

.panel{
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    width: 500px;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    overflow: hidden;
}
.controls{
  width: min-content;
  display: flex;
}

.controls img{
  padding: 10px;
  width: 15px;
}

.vol-bar{
  width: 100px;
  height: 3px;
  background-color: #ffffff8c;
}

.volume{
 display: flex;
 align-items: center;
 width: 175px;
}

.volume > img{
  width: 20px;
 
  padding: 4px;
  fill: #b3b3b3;
}

svg:hover{
  fill: rgb(255, 255, 255);
}

input{
    height: 3px;
    color: green;    
}

.controls > #play{
  width: 25px;
}

@media(max-width: 927px){
  

  .current-song{
    width: 200px;
  }
  .current-song>div{
    width: 200px;
  }
  .panel{
    width: 400px;
  }
  .bar{
    width: 325px;
  } 
  .lists div p{
    font-size: 12px;
  }
}

@media(max-width: 780px){
    
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #2e2e2e; /* Dark background color */
  border-radius: 10px; /* Optional: Rounded corners */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #555; /* Darker gray color for the thumb */
  border-radius: 10px; /* Optional: Rounded corners */
  border: 2px solid #2e2e2e; /* Optional: Border to add some spacing */
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Lighter gray color when hovered */
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar (for horizontal scrollbar) */
}

body.bright-mode {
  background-color: #f5f5f5;
  color: #111;
}

body.bright-mode .controls img {
  filter: invert(0); 
}

body.bright-mode .Home,
body.bright-mode .player,
body.bright-mode .header,
body.bright-mode .playlist,
body.bright-mode .nav,  
body.bright-mode aside {
  background-color: #f2f2f2;
  color: black;
  border-color: #ccc;
}

body.bright-mode .controls img {
  filter: invert(0); 
}

body.bright-mode h1,
body.bright-mode h2,
body.bright-mode h3,
body.bright-mode h5,
body.bright-mode p,
body.bright-mode a,
body.bright-mode span,
body.bright-mode div {
  color: #111;
}

body.bright-mode .controls img {
  filter: brightness(1) invert(1);
}

body.bright-mode .volume img {
  filter: brightness(1) invert(1);
}

body.bright-mode .current-song img {
  filter: brightness(1) invert(1);
}

body.bright-mode .li-song img {
  filter: brightness(1) invert(1);
}

body.bright-mode .right p ,
body.bright-mode .right div {
  color: white;
  background-color: #393b3b96;
}

body.bright-mode .right p:hover ,
body.bright-mode .right div:hover {
  color: black;
}

body.bright-mode .left div {
  background-color: #393b3b96;
}

body.bright-mode .left div:hover {
  background-color: black;
}

body.bright-mode main {
  background-color: #c6e6db96;
}

body.bright-mode aside{
  background-color: #c6e6db96;
}

#shuffle.active,
#loop.active {
  filter: brightness(1.4) invert(0.8); 
  background-color: rgba(167, 198, 199, 0.212);
}